<h3>Welcome to contestants' row! Bid on fabulous prizes!</h3>

<% @prizes.each do |prize| %>
<ul>
  <li><%= link_to prize.name, prize_path(prize) %></li>
  <li><%= prize.price %></li>
  <li><%= prize.user.username %></li>
</ul>
<% end %>
