<h1>Come on down and be a contestant on The Price Is Right!</h1>

<% @prizes.each do |prize| %>
<ul>
  <li><%= prize.name %></li>
  <li><%= prize.price %></li>
  <li><%= prize.user.username %></li>
</ul>
<% end %>
